* {
    font-family: 'Open Sans', sans-serif;
    padding:0;
    margin:0;
  
}

#navig {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    height: 100px;
    width:auto;
    padding:0;
    
   
}
#nav-item {
    display: flex; 
    justify-content: center;
    flex-grow: 1; 
}

#nav-item ul {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    list-style-type: none; 
    margin: 0;
    padding: 0;
    gap: 30px; 
}

#nav-item ul li {
    margin: 15px auto auto auto; 
}

#nav-item ul li a {
    color: #343333;
    text-decoration: none;
    padding: 0;
    border-radius: 5px;
    font-size: 18px;
    font-weight: lighter;
    display: flex;
}

#nav-item ul li a:hover {
    color:  #2582A1; 
    cursor: pointer;
}

#navig img {
    width: 180px; 
    height:150px;
    cursor: pointer;
    object-fit: cover;
    display: flex;
    padding: 0;
    margin-top: 50px;
}

.search-container {
    display: flex;
    align-items: center; 
}

.search-bar {
    padding: 15px;
    font-size: 22px; 
    border-radius: 4px;
    border: none; 
    width: 350px;
    border-bottom: 2px solid #0b2400;
}

.button {
    width: 60px; 
    height: auto;
    display: flex;
    margin-left: 15px; 
    text-decoration: none;
    padding: 7px 12px; 
    font-size: 18px; 
    text-align: center;
    justify-content: center;
    background-color: #000000;
    color: white;
    border-radius: 5px;
    border: none; 
    border-bottom: 2px solid  #2582A1; 
    margin-right:10px;
}

.button a {
    font-size: 18px; 
    text-align: center;
    justify-content: center;
    padding: 7px 12px; 
}

.button:hover {
    background-color: #2582A1; 
    cursor: pointer;
}

#Our_Services, h1 {
    font-weight: bold;
    text-align: center;
    padding: 10px; 
}

.content {
    width: 100%;
    height: 600px;
    background-color: #EDF2F6;
    border-radius: 12px; 
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px; 
    box-sizing: border-box;
}

#bgimage img {
    width: 350px; 
    height: 350px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3); 
    margin-right: 50px; }

.text-content {
    max-width: 65%; }

.text-content h1 {
    font-size: 3rem; 
    margin-bottom: 15px; 
    color: #333;
}

.text-content p {
    font-size: 22px; 
    margin-bottom: 25px;
    color: #555;
}

.text-content button {
    padding: 12px 25px;
    font-size: 1.2rem;
    color: white;
    background-color: #2582A1; 
    border: none;
    border-radius: 6px; 
    cursor: pointer;
    transition: background-color 0.3s;
}

.text-content button:hover {
    background-color: #16556a; 
}

#Sercices {
    display: flex;
    justify-content: space-between;
}

.service-image {
    width: 350px; 
    height: 300px; 
    object-fit: cover;
    border-radius: 6px; 
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Specials {
    width: 100%; 
    justify-content: center; 
    align-items: center; 
    text-align: center;
    gap: 40px; 
    scroll-behavior: smooth; 
    overflow-x: auto; 
    white-space: nowrap; 
}


.service-description {
    background-color:  #2582A1; 
    color: #fff;
    padding: 15px; 
    width: 300px; 
    height: auto;
    font-size: 20px; 
    text-align: center;
    border: none;
    border-radius: 6px; 
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
    margin-top: 15px; }

.service-description:hover {
    transform: scale(1.1);
    background-color:  #16556a; 
}

.Specials a {
    display: inline-block;
    padding: 14px;
    flex-direction: column; 
    align-items: center;    
    text-decoration: none;  
}

.why-jeevita {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px; 
    padding: 25px; 
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 25px;
}

.text-content {
    flex: 1;
}

.text-content h2 {
    font-size: 40px; 
    font-weight: bold;
    margin-bottom: 20px; 
}

.text-content p {
    font-size: 22px; 
    line-height: 1.8;
    text-align: justify;
    color: #333;
}

.image-content {
    flex: 1;
    text-align: left;
    justify-content: left;
    margin-top: 25px; 
}

.image-content img {
    width: 100%;
    height: auto;
    border-radius: 6px; 
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.1); 
}

.healthcare-section {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 50px; 
    max-width: 1000px;  
    margin: 40px auto; 
    padding: 15px; 
}

.healthcare-content {
    flex: 2;  
    color: black; 
}

.healthcare-content h1 {
    font-size: 36px; 
    font-weight: bold;
    color: black; 
    margin-bottom: 15px;}

.healthcare-content ul li {
    margin-bottom: 20px;
    font-size: 22px; 
    line-height: 2.2; 
    color: black;  
}

.healthcare-image {
    flex: 1;
    text-align: center;
}

.healthcare-image img {
    width: 100%; 
    height: auto; 
    border-radius: 6px; 
    margin-top: 20px;
    margin-bottom: 20px; 
}

footer {
    background-color: #f8f9fa;
    padding: 40px 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    border-top: 5px solid #2582A1;
    font-family: Arial, sans-serif;
}

.footer-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 20px;
    flex: 1;
    min-width: 250px;
}

#hospital_logo img {
    width: 180px;
    height: auto;
}

.social-media {
    width: 100%; 
    text-align: left;
    margin-top: 10px; 
}

.social-media p {
    font-weight: bold;
    margin-bottom: 5px;
}

.social-media ul {
    display: flex; 
    gap: 15px; 
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-media ul li {
    display: inline; 
}

.social-media ul li a {
    color: #333; 
    text-decoration: none;
    font-size: 16px;
    transition: transform 0.3s ease-in-out;
}

.social-media ul li a:hover {
    transform: scale(1.2);
    cursor: pointer;
    color: #2582A1; 
}

.footer-links {
    display: flex;
    flex: 2;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px; /
}

.footer-links .column {
    display: flex;
    flex-direction: column;
    min-width: 180px;
}

.footer-links .heading {
    font-weight: bold;
    margin-bottom: 12px;
    text-transform: uppercase;
    color:#2582A1;
}

.footer-links ul li {
    font-size: 18px; 
    font-weight: 600; 
    padding: 10px 0; 
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    
}

.footer-links ul li:hover {
   
    color: #2582A1;
}


.newsletter {
    flex: 1;
    max-width: 300px;
}

.newsletter form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.newsletter input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.newsletter button {
    background-color: #2582A1;
    color: white;
    padding: 10px 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}

.newsletter button:hover {
    background-color: #1e6b89;
}


.privacy {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.privacy ul {
    display: flex;
    gap: 30px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.privacy a {
    color: #333; 
    text-decoration: none;
    padding: 10px;
    font-size: 16px;
    transition: transform 0.3s ease-in-out;
}

.privacy a:hover {
    transform: scale(1.2);
    cursor: pointer;
    color: #2582A1; 
}